* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

body {
  min-height: 100vh;

  gap: 1.25rem;
}

.cell {
  height: 100px;
  width: 100px;

  flex: 30%;

  --cell-border: 1px solid #000000;
  border-right: var(--cell-border);
  border-bottom: var(--cell-border);
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.game-feedback {
  width: max-content;
}
